@import "bootstrap";
@import "home";
@import "menu";
@import "chef";
@import "contact";
@import "variables";

body {
  padding-top: 100px;
}

footer {
  background-color: $brand-primary;
  margin-top:       2rem;
  padding-top:      1rem;
  color:            white;
  .footer-copyright {
    background-color: rgba(0,0,0,.2);

  }
  .py-3 {
    padding-bottom: 2rem!important;
    padding-top:    2rem!important;
  }
  a {
    color: white;
    img {
      width: 15%;
    }
  }
  .logo {
    img {
      width: 70%;  
    }
  }
}

.padded {
  padding-top:    2em;
  padding-bottom: 2em;
}

.padding-top {
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 2em;
}

.banner-gradient {
  background-color: lighten(#786854, 50%);
}

.line {
  position:   relative;
  display:    block;
  width:      100px;
  height:     4px;
  margin:     20px auto 20px;
  background: $brand-secondary;
}

.bg-color-beige {
  background-color: lighten(#786854, 50%)
}

.page-footer {
  img {
    margin: 1em;
  }
}
