<div class="container chef">
  <div class="row text-center padded">
    <div class="col-md-8 col-md-offset-2">
      <p>Les chambres habillées de pierre et de bois brut sont à la fois confortables et coquettes.</p>
      <p>Au réveil, un petit déjeuner copieux vous attend avec pain, confitures maison...</p>
      <p>Chambres simples, doubles ou familiales (4 personnes)</p>
    </div>
  </div>
  <div class="row padded">
    <div class="col-md-6">
      <%= image_tag("chambre-chaneac.jpg") %>
    </div>
    <div class="col-md-6">
      <h3>Tarifs</h3>
      <p>Chambre double : 53 €</p>
      <p>Chambre familiale : 53 € + 17 € par personne supplémentaire</p>
      <p>Petit Déjeuner : 8 €</p>
      <p>Demi-Pension : 60 €/personne et par jour (ce tarif est valable à partir de 3 jours)</p>
    </div>

  </div>
  <div class="row padded">
    <div class="col-md-6">
      <h3>L'auberge Chaneac vous propose également des Gîtes de France</h3>
      <p>La maison traditionnelle est située tout près de l'auberge.</p>
      <p>Elle comprend 2 gîtes qui peuvent être regroupés pour accueillir des grandes familles (jusqu'à 13 personnes)</p>
      <p>Liens vers les gîtes :</p>
      <a target="_blank" href="https://www.gites-de-france-ardeche.com/location-Gite-Sagnes-et-goudoulet-07G203012.html">Le Goudoulet</a>
      <br>
      <br>
      <a target="_blank" href="https://www.gites-de-france-ardeche.com/location-Gite-Sagnes-et-goudoulet-07G203013.html">La Padelle</a>
    </div>
    <div class="col-md-6">
      <%= image_tag("gite-chaneac-01.jpg") %>
    </div>
  </div>
</div>
