<div class="container chef">
  <div class="row text-center padded">
    <div class="col-md-8 col-md-offset-2">
      <h1>Jean-François et Evelyne Chaneac</h1>
      <p>Il a reçu en héritage de sa grand-mère et de sa mère la passion du bon goût et l'attachement à l'Ardèche. Dans les assiettes, Jean-François aime à faire découvrir les produits du terroir. Certains sont fournis par son frère (éleveur et producteur en agriculture biologique) comme la viande de boeuf, les pommes de terre, les choux ou par des producteurs locaux. Le tout étant agrémenté de cueillettes champêtres : champignons, herbes et plantes sauvages. </p>
      <p>S'il est inspiré par les produits traditionnels, Jean-François, toujours respectueux des saisons, n'hésite pas à enrichir sa cuisine de saveurs nouvelles.</p>
      <p>Chez les CHANEAC, à l'art de la cuisine s'ajoute une générosité de l'accueil depuis quatre générations, personnifiée aujourd'hui par Evelyne, l'épouse de Jean-François.</p>
      <p>Bref, une adresse idéale pour une escapade aussi nature que gourmande en montagne ardéchoise. </p>
    </div>
  </div>
  <div class="row padded">
    <div class="col-md-6">
      <%= image_tag("couple-chaneac.jpg") %>
    </div>
    <div class="col-md-6">
      <h2>Le respect de l'environnement</h2>
      <p>Tri sélectif et chauffage écologique (chaufferie à bois déchiqueté), illustrent l'engagement de l'auberge Chanéac pour le développement durable et le respect de l'environnement.</p>
    </div>
  </div>
</div>
