---
title: Recette Ardéchoise de La Maôche, un plat de terroir
description: Découvrez la recette de la Maôche, un délicieux plat de terroir d’Ardèche à base de choux, de chair à saucisse, d’oignons. C’est l’un des plats régionaux les plus appréciés. C'est le plat iconique de l'auberge Chanéac depuis deux générations.
---
<div class="container chef">
  <div class="row text-center padded">
    <div class="col-md-8 col-md-offset-2">
      <h1>Recette Ardéchoise : La Maôche, un plat de terroir !</h1>
      <p>La Maôche, un délicieux plat de terroir d’Ardèche à base de choux, de chair à saucisse, d’oignons…
        C’est l’un des plats régionaux les plus appréciés. Si vous êtes curieux de découvrir comment
        préparer cette recette ancestrale et de la servir à vos invités, alors cet article est fait pour vous !</p>
        <%= image_tag("preparation-maoche.jpg", alt: "Maoche de l'auberge Chaneac") %>
    </div>
  </div>
  <div class="row padded">
    <div class="col-md-8 col-md-offset-2">
      <h2>Comment cuisiner la maôche ?</h2>
      <p>Pour cuisiner <b>la maôche</b>, faut d'abord s'armer des bons ingrédients ! On prend un estomac de porc et on le farcit selon les goûts et les variantes locales. On y met surtout du chou, des pommes de terre, de la chair à saucisse, des carottes, des pruneaux, et surtout, on n'oublie pas les baies de genièvre pour relever le tout.
      <p>Ensuite, faut faire cuire l'estomac farci, soit au bouillon, soit à la vapeur. Une fois qu'il est bien cuit, on peut le passer au four pour lui donner une belle couleur dorée et croustillante.</p>
      <p>Et voilà, la maôche est prête à être dégustée ! C'est un plat qui réchauffe le cœur et l'avantage, c'est que les restes se réchauffent facilement. Pour les savourer, coupe une tranche de la taille que tu veux et fais-la cuire à la poêle comme un bon steak</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h2>Avec quoi accompagner la maôche ?</h2>
      <p>Pour accompagner la maôche, y'a pas mieux que des bons petits côtés traditionnels ! D'abord, tu peux la servir avec des pommes de terre, coupées en morceaux et cuites à la poêle avec un peu d'huile et d'ail. C'est l'accompagnement classique qui va bien avec la maôche.
      <p>Si t'as l'âme sucrée, tu peux aussi ajouter des pruneaux. Ces petits joyaux de douceur vont apporter une touche sucrée-salée qui va te faire fondre de plaisir.</p>
      <p>Et puis, si t'as envie de légumes, ajoute quelques carottes coupées en rondelles et cuites à la vapeur. C'est sain et ça donne une belle couleur à l'assiette !</p>
      <p>Et voilà, avec ces accompagnements, ta maôche va devenir un vrai festin montagnard, de ceux qui réchauffent le cœur et qui mettent du baume à l'âme.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h2>Comment réchauffer la maôche ?</h2>
      <p>Pour réchauffer la maôche, c'est tout simple! D'abord, sors-la du frigo si elle y était stockée, pour qu'elle revienne à température ambiante.
      <p>Ensuite, coupe une tranche de la taille que tu souhaites réchauffer. Mets-la dans une poêle chaude avec un peu d'huile ou de beurre, et fais-la cuire à feu moyen. Fais-la dorer des deux côtés pour lui donner une belle couleur croustillante.</p>
      <p>Et voilà, ta maôche est prête à être dégustée à nouveau ! C'est aussi simple que ça, et ça ne prend que quelques minutes.</p>
      <p>Alors, pas besoin de se casser la tête pour réchauffer ce délice montagnard.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h2>Où peut-on manger la maôche en Ardèche ?</h2>
      <p>En Ardèche, on peut déguster la maôche dans de nombreux restaurants et auberges traditionnelles qui mettent en avant la cuisine locale et les spécialités régionales. Les villages et petites villes de la région proposent souvent des établissements où vous pourrez savourer ce plat typique.
      <p>A l’auberge Chanéac nous proposons la maôche dans <a href="/menu.html">notre menu</a> sur les mois d’hiver (de Novembre à Mars en général)</p>
      <p>Les villes comme Aubenas, Privas, Sagnes et Goudoulet, ou encore Les Vans sont des endroits où vous pourrez probablement trouver des restaurants proposant <b>la maôche</b> à leur menu.</p>
      <p>Il est également possible que des fêtes locales ou des événements culinaires mettent à l'honneur la maôche dans certains villages et communes d'Ardèche.</p>
      <p>N'hésitez pas à vous renseigner auprès des habitants ou des offices de tourisme locaux pour connaître les bonnes adresses où déguster ce plat emblématique de la région.</p>
      <br>
      <a href="https://www.francetvinfo.fr/france/auvergne-rhone-alpes/ardeche/decouverte-la-maoche-plat-de-montagne-ardechois_5638523.html">Découvrez notre reportage passé sur France 2</a>
    </div>
  </div>
</div>
