---
title: Menu Découverte de l'Auberge Chaneac
---
<div class="container">
  <div class="menu-content text-center padded">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Menu Découverte</h1>
        <span>(Goûtez l'Ardèche)</span>
        <div class="padding-top">
          <h4>Assortiment de charcuterie maison</h4>
          <p>ou</p>
          <h4>Filet de truite de l'Ardèche fumé et sa confiture d'oignons</h4>
          <div class="line"></div>
          <h4>La célèbre " Maöche "</h4>
          <!-- <h4>Rôti de veau de Pays</h4> -->
          <p>ou</p>
          <h4>Viande du jour selon approvisionnement <br> (Rosbif boeuf de Terroir ou Rôti de veau de Pays)</h4>
          <p>(Provenance Ardèche ou Haute-Loire)</p>
          <h4>Poêlée de pommes de terre du pays <br>et sa garniture de champignons</h4>
          <!-- <p>ou</p>
          <h4>Filet de truite de l'Ardèche accompagnée...</h4> -->
          <div class="line"></div>
          <h4>Plateau de fromages de Pays</h4>
          <p>ou</p>
          <h4>Caillé doux au lait bio en faisselle «fait maison»</h4>
          <p>(Lait bio Gaec des Sucs)</p>
          <div class="line"></div>
          <h4>Assiette gourmande</h4>
        </div>
        <h3>Tarif: 28 €</h3>
      </div>
    </div>
    <div class="row padded">
      <h4>Possibilité entrée foie gras Maison à la myrtille, supplément de 8 €.</h4>
      <h4>De même, d'autres entrées vous seront proposées au gré des saisons...</h4>
      <br>
      <p>Hormis les menus, une carte vous est proposée ainsi qu'un petit déjeuner au tarif de 8,50 €</p>
    </div>
  </div>
</div>
<div class="review-section">
  <div class="container content text-center">
    <blockquote class="blockquote">
      <p class="italic">“ La salle, chaleureuse, est en adéquation avec une cuisine, des spécialités et recettes de tradition comme la "Maöche, le Fin-Gras du Mézenc, la soupe aux orties, la poëlée de pommes de terre... Elle a la simplicité de la Montagne Ardéchoise où crépite la cheminée en hiver.”</p>
    </blockquote>
  </div>
</div>
<div class="container text-center">
  <div class="row padding-bottom">
    <div class="padded">
      <h3>La Salle</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag("salle-restaurant-chaneac.jpg") %>
    </div>
  </div>
</div>
